@using NextMidiaWeb.Models.Input
@model LoginInput
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NextMidiaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
          rel="stylesheet" />
</head>
<body>
    <main>
        <section class="section-login">
            <div class="container">
                <div class="login">
                    @* Login *@
                    <img src="~/Images/logotype.webp" alt="Nextmidia logo" class="logo-login" />
                    <p class="heading-login">
                        Entre ou crie sua conta!
                    </p>
                    @using (Html.BeginForm("Midia", "Login", FormMethod.Post))
                    {
                        <div class="input-group-wrapper">
                            <div class="input-wrapper">
                                <div class="login-label">E-mail</div>
                                <input name="Email" id="Email" type="email" />
                            </div>
                            <div class="input-wrapper">
                                <div class="login-label">Senha</div>
                                <input name="Senha" id="Senha" type="password" />
                            </div>
                            <div>
                                <button b-g6dx4866hr="" href="#" class="btn btn--full" type="submit">Login</button>
                                <a b-g6dx4866hr="" href="#" class="btn btn--full"
                                   onclick="window.location.href='@Url.Action("CriarConta", "Conta")';">
                                    Criar Conta
                                </a>
                            </div>
                        </div>
                    }                 
                    <a b-g6dx4866hr="" href="#" class="btn btn--outline"
                       onclick="window.location.href='@Url.Action("Index", "Midia")';">
                        Entrar como convidado
                    </a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>