/**************************/
/******** Main ***********/
/**************************/


h1 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 80px;
}

h2 {
    font-weight: bold;
    font-size: x-large;
}

h3 {
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
}

section {
    display: flex;
}

/**************************/
/******** NAV ***********/
/**************************/

nav {
    width: 500px;
    height: stretch;
    background-color: cornflowerblue;
}

ul {
    text-align: center;
    padding: 10px;
}

li {
    font-size: 4rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

/**************************/
/******** PAGE ***********/
/**************************/

.page-wrapper {
    padding: 40px;
}