<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        O objetivo é desenvolver um sistema online de recomendação de mídias (filmes, jogos, séries)
        baseado em análises feitas por usuários e tags associadas a cada mídia. Usuários podem criar e
        atribuir tags distintas a diferentes mídias. O sistema recomenda mídias baseadas em filtros de tags
        positivas e negativas, conforme especificado pelo usuário, no momento da busca.
    </div>
</body>
</html>