html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
    /* maybe do not work on safari and edge */
    /* scroll-behavior: smooth; */
}

body {
    font-family: "inter", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #333;
    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
}

/**************************/
/* REUSABLE               */
/**************************/

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    gap: 9.6rem;
    margin-bottom: 9.6rem;
}

.grid--margin-top {
    margin-top: 9.6rem;
}

.grid:last-child {
    margin-bottom: 0;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
}

.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.grid--center-v {
    align-items: center;
}

.grid--center {
    align-items: center;
    justify-items: center;
}

.btn:link,
.btn:visited {
    display: inline-block;
    background-color: #2196f3;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
    background-color: #2196f3;
    color: #ffffff;
}

.btn--full:hover,
.btn--full:active {
    background-color: #1a78c2;
}

.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: #555;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #90cbf9;
    /* border: 3px solid white; */
    box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
    display: inline-block;
    text-decoration: none;
    color: #2196f3;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: #1e87db;
    border-bottom: 1px solid transparent;
}

/* Helper classes */

.center-text {
    text-align: center;
}

strong {
    font-weight: 500;
}

.margin-bottom-md {
    margin-bottom: 3rem !important;
}

/**************************/
/* HEADER                 */
/**************************/

.logo {
    height: 2.2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90cbf9;
    height: 9.6rem;
    padding: 0 4.8rem;
}

/**************************/
/* NAVIGATION             */
/**************************/

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #114b7a;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #2196f3;
    color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #1a78c2;
}

/**************************/
/* HERO                   */
/**************************/
.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    align-items: center;
    gap: 9.6rem;
}

.section-hero {
    background-color: #90cbf9;
    padding: 4.8rem 0 9.6rem 0;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: #212121;
    /* color: #333; */
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #2196f3;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}