h1 {
    font-size: 5rem;
    font-weight: bold;    
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

img {
    transition: ease-in-out 0.3s;
    transform: scale(0.9);
}

    img:hover {
        transform: scale(1);
        cursor: pointer;
    }

/*----------------------- */
/*-------- Midia Info --------- */
/*----------------------- */
.midia-wrapper {
    display: flex;
    /*padding: 35px;*/
    font-size: 2rem;
    margin-bottom: 2rem;
}

.midia-info-wrapper {
    width: 60%;
    text-align: left;
}

    .midia-info-wrapper .sinopse-wrapper {
        width: fit-content;
        font-size: 2rem;
    }

    .midia-info-wrapper .extra-info-wrapper {
        margin-top: 2rem;
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    .midia-info-wrapper .tags-wrapper {
        font-size: 2rem;
        margin-top: 3rem;
        display: flex;
    }

    .midia-info-wrapper .tag {
        width: 5rem;
        height: 3rem;
        background-color: cornflowerblue;
        color: white;
        /*      border: 2px solid black;
        border-radius: 20px;*/
        padding: 5px;
        margin-top: 20px;
        margin-right: 0.5em;
        padding: 10px;
        transform: scale(0.9);
    }

        .midia-info-wrapper .tag:hover {
            cursor: pointer;
            transform: scale(1);
        }

/*----------------------- */
/*-------- Banner e Midias Associadas --------- */
/*----------------------- */
.midia-image-wrapper {
    width: 40%;
    align-content: flex-start;
    align-items: start;
    justify-items: start;
    text-align: star35;
}

    .midia-image-wrapper .vote-info-wrapper {
        text-align: left;
        width: initial;
        height: 50px;
        padding: 5px;
        font-size: 2.5rem;
        margin-top: 15px;
    }

/*----------------------- */
/*-------- Buttons --------- */
/*----------------------- */
.fav-btn-wrapper {
    margin-top: 5rem;
}

.custom-btn {
    background-color: goldenrod;
    padding: 10px;
    width: min-content;
    text-align: left;
    margin-bottom: 7rem;
    font-size: 2.5rem;
    /* border: 2px solid initial;
    border-radius: 20px;*/
}

    .custom-btn:hover {
        cursor: pointer;
        background-color: darkorange;
    }

    .custom-btn .btn-link {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
