h2 {
    font-size: 5rem;
}

/*----------------------- */
/*-------- Midia Info --------- */
/*----------------------- */
.midia-wrapper {
    display: flex;
    padding: 35px;
    font-size: 2rem;
}

.midia-info-wrapper {
    width: 60%;
    text-align: left;
}

    .midia-info-wrapper .sinopse-wrapper {
        width: inherit;
        font-size: 2rem;
    }

    .midia-info-wrapper .extra-info-wrapper {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 2rem;
    }

    .midia-info-wrapper .tags-wrapper {
        font-size: 20px;
        margin-top: 30px;
        display: flex;
    }

    .midia-info-wrapper .tag {
        width: 15px;
        height: 15px;
        background-color: royalblue;
        color: white;
        border: 2px solid black;
        border-radius: 20px;
        padding: 5px;
        margin-top: 20px;
        margin-left: 10px;
        padding: 10px;
    }

        .midia-info-wrapper .tag :hover {
            cursor: pointer;
        }

/*----------------------- */
/*-------- Banner e Midias Associadas --------- */
/*----------------------- */
.midia-image-wrapper {
    width: 40%;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

    .midia-image-wrapper .vote-info-wrapper {
        text-align: center;
        width: initial;
        height: 50px;
        padding: 5px;
        font-size: 2.5rem;
        margin-top: 15px;
    }