.page-wrapper {
    padding: 40px;
}

.midia-wrapper {

}

.trailer-wrapper {
    padding: 5px;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;

}
/*----------------------- */
/*-------- Buttons --------- */
/*----------------------- */

.custom-btn {
    background-color: goldenrod;
    padding: 10px;
    width: min-content;
    text-align: left;
    margin-bottom: 70px;
    font-size: 2.5rem;
    border: 2px solid initial;
    border-radius: 20px;
}

    .custom-btn:hover {
        cursor: pointer;
        background-color: darkorange;
    }

    .custom-btn .btn-link {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
