@using NextMidiaWeb.Views.Componentes
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NextMidiaWeb.Models.ViewModel.DetalheMidiaViewModel
@{
    ViewData["Title"] = @Model.midia.Id;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NextMidiaWeb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <main>
        <section>
            <div class="page-wrapper">
                @if (@Model != null)
                {
                    <div class="midia-wrapper">                     
                        <div>
                            <component type="typeof(MidiaInfo)"
                                       render-mode="ServerPrerendered"
                                       param-midia="@Model.midia"
                                       param-idUsuario="@Html.ViewContext.HttpContext.Session.GetString("")"
                                       param-ExibeTrailer="true" />
                        </div>                    
                    </div>                  
                }
            </div>
        </section>
    </main>
</body>
</html>