h1 {
    font-weight: bold;
    font-size: 8rem;
}

h2 {
    font-weight: bold;
    font-size: 6rem;
}

h3 {
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
}

/*----------------------- */
/*-------- Main --------- */
/*----------------------- */
.page-wrapper {
    background-color: #90cbf9;
}

    .page-wrapper .midia-dia-wrapper {
        display: flex;
    }

/*----------------------- */
/*-------- Carousel --------- */
/*----------------------- */
.carrousel-container {
    background-color: gray;
    color: white;
    padding: 45px;
}

    .carrousel-container .carrousel-wrappper {
        margin-top: 50px;
    }

.image-next-media:hover {
    cursor: pointer;
}

.next-media-wrapper {
    padding: 3px;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

/*----------------------- */
/*-------- Buttons --------- */
/*----------------------- */
.custom-btn {
    background-color: mediumspringgreen;
    padding: 10px;
    width: min-content;
    text-align: left;
    margin-top: auto;
    font-size: 2.5rem;
    border: 2px solid initial;
    border-radius: 20px;
}

    .custom-btn:hover {
        cursor: pointer;
        background-color: lightgreen;
    }

    .custom-btn .btn-link {
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
