@using NextMidiaWeb.Models.ViewModel
@model MidiaViewModel
@{
    ViewData["Title"] = "Midia";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NextMidiaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
          rel="stylesheet" />
</head>
<body>
    @if (Model != null)
    {
        <div>
            <h1>Midia do Dia</h1>
        <div>
            <div>@Model.midias[0].Nome</div>
            <div>@Model.midias[0].Sinopse</div>
            <div>@Model.midias[0].Categoria.Nome</div>
        </div>
        </div>
    }
    else
    {
        <div>Sem retorno</div>
    }
</body>
</html>